body {
    background-color: #dfdfdf;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}

nav {
    background-color: #343434;
}

nav img {
    width: 56px;
    height: 56px;
    margin: 10px 10px 0 10px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    padding: 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: gray;
}

article {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

article header {
    color: gray;
    font-size: 0.8em;
}

article header h1 {
    color: black;
}

article p {
    text-indent: 2em;
    line-height: 2em;
}