* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "微软雅黑";
}

.container {
    width: 600px;
    margin: 0 auto;
}

.action {
    margin-left: 200px;
}

table {
    margin: 0 auto; 
    border-collapse: collapse;
}

td.box {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
}

td.box[data-type="y-axis"],
td.box[data-type="x-axis"] {
    border: 0;
}

/*td.box[data-type="y-axis"] {
    text-align: right;
}

td.box[data-type="x-axis"] {
    text-align: center;
}*/

#bot {
    width: 39px;
    height: 39px;
    background-color: red;
    position: relative;
}

#bot .bot-up {
    height: 15px;
    background-color: blue;
}


